
@model SaleManager.Web.Models.ProductModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}
<link rel="stylesheet" href="@Url.Content("~/Content/" + controllerName + ".css")">
<script src="@Url.Content("~/Scripts/" + controllerName + "/" + actionName + ".js")"></script>

<form method="post" action="@Url.Action("Edit")" class="mx-auto with-fit" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <label for="Barcode" class="col-sm-2 col-form-label col-form-label-sm">Barcode</label>
        <div class="col-sm-10">
            <input name="Barcode" value="@Model.Barcode" type="text" class="form-control" required readonly>
            <small class="form-text text-danger">@Html.ValidationMessage("Barcode")</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
        <div class="col-sm-10">
            <input name="Name" value="@Model.Name" type="text" class="form-control" id="Name">
            <small class="form-text text-danger">@Html.ValidationMessage("Name")</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="Price" class="col-sm-2 col-form-label col-form-label-sm">Price</label>
        <div class="col-sm-10">
            <input name="Price" value="@Model.Price" type="text" class="form-control" id="Price" data-type="currency">
            <small class="form-text text-danger">@Html.ValidationMessage("Price")</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="Category" class="col-sm-2 col-form-label col-form-label-sm">Category</label>
        <div class="col-sm-10">
            <select name="CategoryId" class="form-control" id="Category">
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Key" selected="@item.IsDefault">@item.Value</option>
                }
            </select>
            <small class="form-text text-danger">@Html.ValidationMessage("CategoryId")</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="Supplier" class="col-sm-2 col-form-label col-form-label-sm">Supplier</label>
        <div class="col-sm-10">
            <select name="SupplierId" class="form-control" id="Supplier">
                @foreach (var item in Model.Suppliers)
                {
                    <option value="@item.Key" selected="@item.IsDefault">@item.Value</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="Img" class="col-sm-2 col-form-label col-form-label-sm">Img</label>
        <div class="col-sm-10 row">
            <input name="Image" type="file" class="form-control-file pl-3" id="Img">
            <small class="form-text text-danger">@Html.ValidationMessage("ImgPath")</small>
        </div>
    </div>
    <div class="row">
        <label for="Quantity" class="col-sm-2 col-form-label col-form-label-sm">Quantity</label>
        <div class="col-sm-10 row">
            <div class="col-sm-4">
                <input name="Price" value="@Model.Quantity" type="text" class="form-control" id="Quantity">
                <small class="form-text text-danger">@Html.ValidationMessage("Quantity")</small>
            </div>
            <div class="col-sm-6 row">
                <label for="Quantity" class="col-sm-3 col-form-label col-form-label-sm">Unit</label>
                <div class="col-sm-9">
                    <input name="Unit" value="@Model.Unit" type="text" class="form-control" id="Unit">
                    <small class="form-text text-danger">@Html.ValidationMessage("Unit")</small>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row pt-3">
        <div class="d-flex flex-row justify-content-start col-sm-10 offset-sm-2">
            <div class="custom-control custom-switch">
                <input name="PinValue" checked="@Model.Pin" type="checkbox" class="custom-control-input" id="Pin">
                <label class="custom-control-label" for="Pin">Pin</label>
            </div> 
            <div class="custom-control custom-switch pl-5">
                <input name="EnableValue" checked="@Model.Enable" type="checkbox" class="custom-control-input" id="Enable">
                <label class="custom-control-label" for="Enable">Enable</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="ExpirationDate" class="col-sm-2 col-form-label col-form-label-sm">ExpirationDate</label>
        <div class='input-group col-10 date' data-provide="datepicker" id='ExpirationDate'>
            <input name="ExpirationDate" value="@Html.ValueFor(model => model.ExpirationDate, "{0:yyyy/MM/dd}")" type='text' class="form-control datepicker" />
            <div class="input-group-addon">
                <i class="far fa-calendar-alt padding-10 border rounded-right border-left-0"></i>
            </div>
            <small class="form-text text-danger col-12 pl-0 ml-0">@Html.ValidationMessage("ExpirationDate")</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>